body{
    background-color: #0b0c10;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    width:10px;

}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #fcce4b;
    border-radius:10px;
}


.parent-container{
    display: grid;
    grid-template-columns:300PX 900PX ;
    gap: 30PX;
    margin-left: 70PX;
    margin-top: 70PX;
    position: relative;
}
.self-info-panel{
    height:750px;
    background-color:#202833;
    border-radius: 20px;
    border:1px solid #c5c6c8;

}
.section-divider{
    border-bottom:1px solid #c5c6c8;
    position:absolute;
    top:370px;
    width:180px;
    margin-left:60px;
}
.about-me-panel{
    height: 800px;
    background-color: rgb(31, 39, 50);
    border-radius: 20px;
    border:1px solid ;
    position:relative;
    border:1px solid #c5c6c8;}
.pfp{
    position: absolute;
    top: 60px;
    left:75px;
}
.img{
    border-radius: 20px;
}
.name{
    position: absolute;
    top:220px;
    left:75px;
    width:150px;
}
.name-decor{
    font-size: 25px;
    font-weight: 1000;
    color:#f3fcff;
    text-align: center;
}
.profession{
    position: absolute;
    top:285px;
    left:100px;
    border: 1px solid #3f3e3c;
    background-color: rgba(0,0,0,0.5);
    width: 100px;
    height:40px;
    border-radius:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profession-decor{
    font-size:19px;
    font-weight:800;
    color:#f3fcff;
}


.about-me{
    margin:20px;
    height:35px;
    border-bottom:4px solid #fcce4b;
    width:150px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
.about-me-decor{
    color: #f3fcff;
    font-size: 30px;
    font-weight: 1000;
}
.quick-links{
    height:70px;
    width:400px;
    background-color:rgb(48, 59, 75);
    position:absolute;
    top:0;
    right:0px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border:1px solid #c5c6c8;
    border-top:none;
    display: flex;
    justify-content:center;
    align-items: center;
}
.home-link{
    text-decoration: none;
    color:#f3fcff;
    font-size:18px;
    font-weight: 400;
    transition:color 0.3s;

}
.home-link:hover{
    color:#878787;
}
.blog-link{
    text-decoration: none;
    color:#f3fcff;
    font-size:18px;
    font-weight: 400;
    transition:color 0.3s;

}
.blog-link:hover{
    color:#878787;
}
.contact-link{
    text-decoration: none;
    color:#f3fcff;
    font-size:18px;
    font-weight: 400;
    transition:color 0.3s;

}
.contact-link:hover{
    color:#878787;
}

.blog-hover{
    margin-left:50px;
}

.blog-hover{
    margin-left:50px;
}

.contact-hover{
    margin-left:50px;
}

.github{
    border:2px solid rgb(252, 206, 75);
    background-color: #fcce4b   ;
    height:40px;
    width: 40px;
    position:absolute;
    top:420px;
    left:50px; 
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    cursor:pointer;
}

.github-img{
    height:34px;
    width:34px;
    border-radius: 50%;

}
.email{
    border:2px solid rgb(252, 206, 75);
    background-color: #fcce4b   ;
    height:40px;
    width: 40px;
    position:absolute;
    top:490px;
    left:50px; 
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    cursor:pointer;
}

.email-img{
    height:34px;
    width:34px;
}

.git-txt{
    position:absolute;
    left: 70px;
    color:#f3fcff;
    width:100px;
}

.email-txt{
    position:absolute;
    left:70px;
    color:#f3fcff;
}

.myself{
background-color:rgba(0,0,0,0.5) ;
height: 650px;
width:800px;
border-radius: 5%;
margin:50px;
border:2px solid #fcce4b
}

.intro-txt{
    font-size: 20px;
    color:#f3fcff;
    
}